.container {
  .nickname-container {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media screen and (min-width: 1400px) {
  .container {
    .nickname-container {
      padding-left: 500px;
      padding-right: 300px;
    }
  }
}
