<div>
  <form [formGroup]="nicknameFormList">
    <mat-form-field
      *ngFor="
        let control of nicknameFormList.get('nicknames')['controls'];
        index as i
      "
      class="form-field"
    >
      <input
        [formControl]="control"
        matInput
        placeholder="Nickname {{ i + 1 }}"
      />
      <button
        mat-button
        *ngIf="control.dirty"
        matSuffix
        mat-icon-button
        aria-label="Save"
        (click)="onNicknameChange(i, control.value)"
      >
        <mat-icon color="danger">save</mat-icon>
      </button>
      <button
        mat-button
        *ngIf="control.value"
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (click)="onNicknameDelete(i)"
      >
        <mat-icon color="danger">delete</mat-icon>
      </button>

      <mat-error *ngIf="control.hasError('nicknameInvalid')">
        Please enter a valid nickname</mat-error
      >
    </mat-form-field>
  </form>

  <div class="adder-container">
    <mat-form-field class="add-field">
      <mat-label>Enter a nickname</mat-label>
      <input [formControl]="nickNameAddFormControl" matInput />

      <mat-error *ngIf="nickNameAddFormControl.hasError('nicknameInvalid')">
        Please enter a valid nickname</mat-error
      >
    </mat-form-field>

    <button
      (click)="onNicknameAdd()"
      [disabled]="!nickNameAddFormControl.valid"
      mat-raised-button
      color="primary"
    >
      Add
    </button>
  </div>
</div>
